.modal__body {
  margin-left: 56px;
  margin-right: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__body-img {
  width: 276px;
  height: 140px;
  padding-bottom: 85px;
}

.modal__body-title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #191919;
}

.modal__body-text {
  padding-top: 40px;
  padding-bottom: 64px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #7f7f7f;
}

.modal__body-text-add {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  color: red;
}
