* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.conteiner {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: blue;
  margin-top: 20px;
  color: #fff;
}

.button2 {
  margin-top: 20px;
  background-color: yellow;
}
.btn {
  cursor: pointer;
  border-radius: 8px;
  padding: 16px 20px;
  width: 192px;
  height: 48px;
}
